POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=codelens
DATABASE_URL=postgresql://user:password@db:5432/codelens
REDIS_URL=redis://redis:6379/0
GROQ_API_KEY=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
